<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582111356245-tr5tqfv645mg2p6suv1pufhvrbm0ucnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582111356245-tr5tqfv645mg2p6suv1pufhvrbm0ucnd</string>
	<key>API_KEY</key>
	<string>AIzaSyB_sMnZJCdD5JdhLrxzOeqorwDIvNUGr8g</string>
	<key>GCM_SENDER_ID</key>
	<string>582111356245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esp32</string>
	<key>PROJECT_ID</key>
	<string>esp32-9dd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-9dd8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582111356245:ios:b9bb959b26b466a5627bdc</string>
</dict>
</plist>